<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        This is the employee profile
      </h2>
    </section>
  </aside>
</div>