<% provide(:title, "Edit Job Title") %>
<h1>Job Title</h1>
<div class="well">
  	<%= form_for(@job_title, :url => { :action => "update" } ) do |f| %>

	<%= f.label :name, 'Name' %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.submit "Update", class: "btn btn-primary" %>
	<% end %>
</div>