<%= form_for(@employee, :url => { :action => "create", :controller => "employee" } ) do |f| %>

<%= f.label :first_name, 'First Name' %>
<%= f.text_field :first_name, class: 'form-control' %>

<%= f.label :middle_name, 'Middle Name' %>
<%= f.text_field :middle_name, class: 'form-control' %>

<%= f.label :last_name, 'Last Name' %>
<%= f.text_field :last_name, class: 'form-control' %>

<%= f.label :birthday %>
<%= date_field :employee, :birthday, class: 'form-control' %>

<%= f.label :address, 'Address' %>
<%= f.text_field :address, class: 'form-control' %>

<%= f.label :job_title_id %>
<%= f.collection_select(:job_title_id, JobTitle.all, :id, :name, {}, {:class=>'form-control'}) %>

<%= f.label :start_date %>
<%= date_field :employee, :start_date, class: 'form-control' %>

<%= f.label :end_date %>
<%= date_field :employee, :end_date, class: 'form-control' %>

<%= f.label :department_id %>
<%= f.collection_select(:department_id, Department.all, :id, :name, {}, {:class=>'form-control'}) %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>