<% provide(:title, "Employee") %>
<h1>Employees</h1>
<div class="well">
  <%= link_to "New Employee", new_employee_path, class: "btn btn-primary" %>
  <% if @employees.size > 0 %>
    <%= link_to "Add Address", address_index_path, class: "btn btn-primary" %>
    <%= link_to "Assign Job Title", address_index_path, class: "btn btn-primary" %>
  <% end %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Birthday</th>
      <th>Job Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <!-- <th>Department</th> -->
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @employees.size == 0 %>
      <tr>
        <td colspan="10">No employees found.</td>
      </tr>
    <% else %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.middle_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.birthday %></td>
          <td><%= employee.job_title_ids %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td>
            <%= link_to "Edit", edit_employee_path(employee), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure you wish to delete this employee' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>