<%= form_for(@user, :url => { :action => yield(:kind), :controller => "users" } ) do |f| %>

<%= f.label :username %>
<%= f.text_field :username, class: 'form-control' %>

<%= f.label :password, 'Password' %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, 'Password Confirmation' %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<%= f.label :employee_id %>
<%= f.collection_select(:employee_id, Employee.all, :id, :first_name, {}, {:class=>'form-control'}) %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>