<%= form_for(@job_title, :url => { :action => yield(:kind), :controller => "job_titles" } ) do |f| %>

<%= f.label :name, 'Name' %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>