<% provide(:title, "Job Titles") %>
<h1>Job Titles</h1>
<div class="well">
  <%= link_to "New Job Title", new_job_title_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @job_titles.size == 0 %>
      <tr>
        <td colspan="6">No job_titles found.</td>
      </tr>
    <% else %>
      <% @job_titles.each do |job_title| %>
        <tr>
          <td><%= job_title.name %></td>
          <td>
            <%= link_to "Edit", edit_job_title_path(job_title), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to 'Delete', job_title, method: :delete, data: { confirm: 'Are you sure you wish to delete this job title?' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>