<%= form_for(@address, :url => { :action => yield(:kind), :controller => "addresses" } ) do |f| %>

<%= f.label :employee %>
<%= f.collection_select :employee, Employee.all, :id, :first_name, {}, :class=>'form-control' %>

<%= f.label :line, 'Address Line' %>
<%= f.text_field :line, class: 'form-control' %>

<%= f.label :city, 'City' %>
<%= f.text_field :city, class: 'form-control' %>

<%= f.label :state, 'State' %>
<%= f.text_field :state, class: 'form-control' %>

<%= f.label :country, 'Country' %>
<%= f.text_field :country, class: 'form-control' %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>