<% provide(:title, "Employee Address") %>
<h1>Address</h1>
	<div class="well">
    <% if @employees.size == 0 %>
      <%= link_to "New Employee", new_employee_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Add Address", new_address_path, class: "btn btn-primary" %>
    <% end %> 
  </div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Line</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @employees.size == 0 %>
      <tr>
        <td colspan="10">No employees found.</td>
      </tr>
    <% else %>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name + ' ' + employee.middle_name + ' ' + employee.last_name %></td>
          <td><%= employee.address.line %></td>
          <td><%= employee.address.city %></td>
          <td><%= employee.address.state %></td>
          <td><%= employee.address.country %></td>
          <td>
            <%= link_to "Edit", edit_employee_path(employee), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure you wish to delete this employee' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>