<% provide(:title, "New Department") %>
<h1>Departments</h1>
<div class="well">
  	<%= form_for(@department, :url => { :action => "create", :controller => "department" } ) do |f| %>

	<%= f.label :name, 'Name' %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.submit "Create", class: "btn btn-primary" %>
	<% end %>
</div>