<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    <nav>
    	<ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Home",   root_path %></li>
      	<li><%= link_to "Employee", employees_path %></li>
      	<li><%= link_to "Job Title", job_titles_path %></li>
        <li><%= link_to "Department", departments_path %></li>
    	</ul>
    </nav>
	</div>
</header>